<article class="movie-list">

  <header><h1>Movie History</h1></header>
<!-- Will be main partial in the future -->
  <section>
	<!-- needs button list w/ untracked, unwatched, watched, favorites -->
	<div>
		<button>Show Untracked</button>
		<button>Show Unwatched</button>
		<button>Show Watched</button>
		<button>Favorites</button>
	</div>
	<!-- edit HTML to publish posters, not movie names, to DOM -->
    <div ng-repeat="movie in movies">
      <a href="#">{{ movie.title }}</a>
      
    </div>

	<div id="search-result">
		<img src="{{ movieToAdd.poster }}" />
	</div>

  </section>

</article>
