<article class="movie-list">
	<nav>
		<ul>
	  	<!-- will remove first two anchor els -->
	    <!-- search bar and button -->
	    	<li><input type="text" placeholder="Search" ng-model="movieToSearch"></li>
	    	<li><button ng-click="search()">Search</button></li>
	    	<li class="align-right"><a href="/#/logout">Logout</a></li>
	  </ul>
  </nav>
  <header><h1>Movie History</h1></header>
<!-- Will be main partial in the future -->
  <section>
	<!-- needs button list w/ untracked, unwatched, watched, favorites -->
	<div>
		<button>Show Untracked</button>
		<button>Show Unwatched</button>
		<button>Show Watched</button>
		<button>Favorites</button>
	</div>
	<!-- edit HTML to publish posters, not movie names, to DOM -->

   	<div id="movie-card" class="col-md-4 card">
   		<div ng-if="movieToAdd.title.length > 0">
   			<img src="{{ movieToAdd.poster }}" alt="">
	   		<div ng-if="!movieToAdd.user">
   				<a href="#/movies/list">Add To Watchlist</a>
   			</div>
	   		<div ng-if="movieToAdd.user">
	   			<p>{{ movieToAdd.rating }} / 10</p>
	   		</div>
   		</div>


   	</div>

  </section>

</article>
